body {
  margin: 0;
}

img{
	width: 100%;
}

#container {
  margin: 2% 7%;
}

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
  #container {
    margin: 2% 8%;
  }
}
@media only screen and (min-width: 1601px) and (max-width: 1920px) {
  #container {
    margin: 2% 20%;
  }
}
@media only screen and (min-width: 1921px) and (max-width: 9000px) {
  #container {
    margin: 2% 30%;
  }
}

/*-------UNI------*/

.box-shadow {
  padding: 20px 20px 15px 20px;
  background-color: white;
  box-shadow: 0px 0px 30px rgb(26, 90, 157, 0.1);
  margin: 20px 0;
  border-radius: 15px;
}
h1,
h2,
h3,
h5,
h6 {
  font-family: montserrat;
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 60px;
  line-height: 70px;
}
h2 {
  font-size: 50px;
  line-height: 50px;
}
h3 {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}
h5 {
  color: #1a5a9d;
  line-height: 20px;
  font-size: 20px;
}
h6 {
  line-height: 20px;
  font-size: 16px;
}

a,
p {
  margin: 0;
  text-decoration: none;
  font-family: verdana;
  font-size: 19px;
  color: black;
  font-weight: normal;
  line-height: 27px;
}
span {
  font-size: 13px;
}
li {
  font-family: verdana;
  font-size: 14px;
  color: black;
  line-height: 23px;
}
ul {
  padding-left: 15px;
}

.boutton-1 {
  color: white;
  background-color: #de397c;
  padding: 15px 50px;
  border-radius: 8px;
}
.boutton-contact {
  color: white;
  background-color: #de397c;
  padding: 15px 100px;
  border-color: #de397c;
  border-radius: 8px;
  outline: none;
  margin: 10px;
  font-size: 20px;
  border-style: none;
}

.img-boutton {
  margin-top: 5%;
}
.img-boutton a {
  margin-right: 20px;
}
.quote {
  width: 20px;
  height: 20px;
}
.formulaire {
  border: 2px solid;
  border-radius: 8px;
  outline: none;
  margin: 10px;
  font-size: 20px;
  padding: 15px;
}

/*-------header------*/
.menu a {
  margin: 0 20px;
}
/*-------le heros------*/
.le-heros {
  margin-top: 5%;
  background-image: url(../img/bg-le-heros.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 7%;
}
.img-le-heros {
  display: none;
}

/*-------malo-c-est-quoi------*/

.malo-c-est-quoi {
  margin-top: 10%;
}
.contenu-malo-c-est-quoi {
  margin: 10% 3%;
}
/*-------malo-VIDEO------*/

.malo-video {
  background-image: url(../img/bg-malo-video.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 10%;
  padding-bottom: 10%;
}
#play-vid {
  position: absolute;
  right: 35%;
  z-index: 0;
}
.video-1 {
  background-image: url(../img/bg-video-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px 0;
}

.video-1 video {
  width: 700px;
  border-radius: 20px;
  outline-style: none;
}

/*-------malo-VIDEO------*/

.expert {
  margin-top: 15%;
  text-align: center;
  justify-content: center;
}
.expert-flex {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
#play-vid-2 {
  position: absolute;
  right: 70%;
  z-index: 0;
}
.expert-video {
  width: 60%;
  background-image: url(../img/bg-video-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: left;
}
.expert-video video {
  width: 540px;
  border-radius: 20px;
  padding-left: 10px;
  outline-style: none;
}
.video-wrapper {
  position: relative;
}

.video-wrapper > video {
  width: 540px;
  border-radius: 20px;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}

.video-overlay-play-button {
  box-sizing: border-box;
  width: 510px;
  height: 100%;
  padding: 120px 120px 160px 160px;
  position: absolute;
  top: 30px;
  left: 30px;
  display: block;
  opacity: 0.95;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0);
  transition: opacity 150ms;
}

.video-overlay-play-button:hover {
  opacity: 1;
}

.video-overlay-play-button.is-hidden {
  display: none;
}

#expert-contenu {
  text-align: right;
  width: 40%;
}

.expert-contenu {
  display: flex;
  margin-top: 15px;
}
#expert-contenu h6 {
  margin-top: 20px;
}

/*------CAROUSEL------*/
.les-parents {
  margin-top: 10%;
}
.carousel {
  background-image: url(../img/bg-carousel.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 30px 15px;
}
.slide {
  margin: 10px;
  padding-bottom: 50px;
  width: 50%;
}
.img-profil {
  margin-right: 20px;
  margin-bottom: 30px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Next & previous buttons */
.fleche {
  text-align: right;
  position: relative;
  top: -100px;
}
.prev {
  color: gray;
}
.prev,
.next {
  cursor: pointer;
  width: auto;
  padding: 20px;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*-------BLOG-MALO------*/
.decouvrir-le-blog {
  justify-content: center;
  margin-top: 10%;
}
.bg-decouvrir {
  background-image: url(../img/bg-decouvrir.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}

.decouvrir-left {
  width: 70%;
}
.decouvrir-left-1 {
  width: 50%;
  margin: 10px;
}
.decouvrir-left-2 {
  width: 50%;
  margin: 10px;
}
.decouvrir-right {
  width: 30%;
  text-align: right;
  margin-top: 50px;
}
.sommeil {
  width: 30%;
}
.alimentation {
  width: 60%;
}

/*-------POPUP------*/
.popup {
  margin-top: 10%;
}
.popup img {
}
.contenu-popup {
  background-color: #1a5a9d;
  border-radius: 20px;
  align-items: center;
  padding: 60px;
}
.titre-popup {
  width: 50%;
  color: white;
  margin: 0;
}

.formulaire-popup {
  width: 50%;
  color: white;
}
.mail-popup {
  border-color: white;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  font-family: montserrat;
  font-weight: bold;
}
.mail-popup::placeholder {
  color: white;
}
.boutton-popup {
  border-color: white;
  background-color: white;
  padding: 15px 30px;
  font-family: montserrat;
  font-weight: bold;
  color: #de397c;
  cursor: pointer;
}

/*-------CONTACT------*/
.contactez-nous {
  margin-top: 10%;
}
.contenu-contact {
  width: 50%;
}
.contenu-contact p {
  line-height: 50px;
  margin: 20px;
}
.contenu-contact h3 {
  margin-bottom: 10px;
}
.contenu-contact a {
  margin-right: 20px;
}
.formulaire-contact {
  width: 50%;
  background-image: url(../img/bg-formulaire-contact.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.bg-contact {
  padding: 10px;
  background-color: white;
  margin: 30px;

  box-shadow: 0px 0px 30px rgb(26, 90, 157, 0.1);
  border-radius: 15px;
}
.form-2 {
  width: 200px;
  border-color: #d8d8d8;
  color: black;
}
.form-1 {
  width: 460px;
}
.contact-text {
  border-color: #d8d8d8;
  font-family: montserrat;
}
.contact-text::placeholder {
  color: black;
  border-color: #d8d8d8;
  font-family: arial;
}

/*-------il nous soutien------*/

.il-nous-soutiennent {
  margin-top: 10%;
}

.il-nous-soutiennent h1 {
  margin-left: 20%;
}

/*-------footer------*/
.footer {
  margin-top: 10%;
  background-color: #1a5a9d;
}
.logo-popup {
  padding: 40px;
  margin: 0;
}
.logo-boutton {
  width: 50%;
}
.popup-icon {
  width: 45%;
}
.news-letter h3 {
  margin-bottom: 0;
  font-weight: normal;
  color: black;
}
.suivez-footer h3 {
  margin-bottom: 10px;
  font-weight: normal;
  color: white;
}
.suivez-footer a {
  margin-right: 20px;
}
.mail-footer {
  color: #d8d8d8;
  border-color: #d8d8d8;
}
.mail-footer::placeholder {
  color: #d8d8d8;
  border-color: #d8d8d8;
}
.boutton-footer {
  color: white;
  background-color: #de397c;
  border-color: #de397c;
  padding: 15px 40px;
  cursor: pointer;
}

.menu-footer {
  background-color: #0f3c6b;
  margin: 0;
  padding: 20px;
}
.menu-footer li {
  list-style: none;
}
.menu-footer a,
.menu-footer span {
  color: white;
  margin: 30px;
}

/*-------G R I D------*/

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.col-10 {
  width: 100%;
}
.col-9 {
  width: 90%;
}
.col-8 {
  width: 80%;
}
.col-7 {
  width: 70%;
}
.col-65 {
  width: 65%;
}
.col-6 {
  width: 60%;
}
.col-55 {
  width: 55%;
}
.col-5 {
  width: 50%;
}
.col-45 {
  width: 45%;
}
.col-4 {
  width: 40%;
}
.col-35 {
  width: 35%;
}
.col-3 {
  width: 30%;
}
.col-2 {
  width: 20%;
}
.col-1 {
  width: 10%;
}

.col-sm-5 {
	width: 50%;
  }

.center {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.left {
  text-align: left;
  justify-content: center;
  align-items: center;
}
.right {
  text-align: right;
  justify-content: center;
  align-items: center;
}

/*-------MEDIA ------*/

@media only screen and (min-width: 107px) and (max-width: 480px) {
  .col-10,
  .col-9,
  .col-8,
  .col-7,
  .col-6,
  .col-65,
  .col-5,
  .col-55,
  .col-4,
  .col-45,
  .col-35,
  .col-3,
  .col-2,
  .col-1 {
    width: 100% !important;
    margin: 5% 0;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .col-reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .box-shadow {
    padding: 5px;
    box-shadow: 0px 0px 20px rgb(26, 90, 157, 0.1);
    margin: 20px 0;
    border-radius: 5px;
  }
  #container {
    margin: 2% 10%;
    text-align: center;
  }
  .img-boutton img {
    width: 40% !important;
  }

  h1,
  h2,
  h3 {
    font-size: 28px !important;
    line-height: 35px !important;
    margin-bottom: 1%;
  }
  h5 {
    line-height: 19px;
    font-size: 16px;
  }
  h6 {
    line-height: 20px;
    font-size: 16px;
  }
  a,
  p,
  span {
    font-size: 15px !important;
    line-height: 23px !important;
    margin-bottom: 1%;
  }

  li {
    font-family: verdana;
    font-size: 14px;
    color: black;
    line-height: 23px;
  }
  ul {
    padding-left: 15px;
  }

  /*-------LE HEROS------*/

  .le-heros-right {
    display: none;
  }
  .img-le-heros {
    display: initial !important;
  }
  .le-heros {
    background-image: inherit;
  }
  .le-heros img {
    width: 60%;
    margin-top: 5%;
  }

  /*-------malo-VIDEO------*/

  .malo-video {
    background-image: none;
    padding: 0;
  }
  .titre-video-1 {
    background-image: url(../img/bg-malo-phone.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 15%;
  }
  .titre-video-1 h3 {
    text-align: left;
  }
  #play-vid {
    position: relative;
    right: -150px;
    top: -140px;
    z-index: 0;
  }
  .video-1 {
    background-image: url(../img/bg-video-1.png);
    background-size: contain, cover;
    background-repeat: no-repeat;
    padding: 20px 0;
    text-align: center;
    margin: 0;
  }

  .video-1 video {
    width: 300px;
    border-radius: 10px;
  }
}
