body
	{
		margin: 2% 5%;
	}
	@media only screen and (min-width: 1367px) and (max-width: 1600px)
{
	body
	{
		margin: 2% 10%;
	}
}
@media only screen and (min-width: 1601px) and (max-width: 1920px)
{
	body
	{
		margin: 2% 20%;
	}
}
@media only screen and (min-width: 1921px) and (max-width: 9000px)
{
	body
	{
		margin: 2% 30%;
	}
}

/*-------UNI------*/
	h1, h2, h3, h5, h6
	{
		font-family: montserrat;
		font-weight: bold;
		margin: 0;
	}
	h1
	{
		font-size: 60px;
		line-height: 70px;
	}
	h2
	{
		font-size: 50px;
		line-height: 50px;
	}
	h3
	{
		font-size: 25px;
		line-height: 35px;
	}
	h5
	{
		color: #1A5A9D ;
		line-height: 20px;
		font-size: 20px;
	}
	h6
	{
		line-height: 20px;
		font-size: 16px;
	}

	a, p
	{
		margin: 0;
		text-decoration: none;
		font-family: verdana;
		font-size:19px;
		color:black;
		font-weight: normal;
		line-height: 27px;
	}
	span
	{
		font-size:13px;
		margin: 0 !important;
	}
	.boutton-1
	{
		color:white;
		background-color: #DE397C;
		padding:15px 50px;
		border-radius: 10px;
	}
	.img-boutton
	{
		margin-top: 5%;
	}
	.img-boutton a
	{
		margin-right: 20px;
	}
	.quote
	{
		width: 20px;
		height:20px;
	}

/*-------header------*/
	#header
	{
		display: flex;
		align-items: center;

	}
	.logo
	{
		width: 20%;
	}
	.logo img
	{
		width:70%;
	}
	.menu
	{
		align-items: center;
		width: 80%;
		text-align: right;
	}
	.menu a
	{
		margin:0 20px;
	}

/*-------contenu------*/

#contenu
{

}

/*-------le heros------*/


	.le-heros
	{
		display: flex;
		align-items: center;
		margin-top: 5%;
		background-image: url(../img/bg-le-heros.png);
		background-size: 100%;
		background-repeat: no-repeat;
		padding-bottom: 5%;

	}
	.le-heros-left
	{
		width: 55%;
	}
	.le-heros-right
	{
		width: 45%;
		text-align: right;
	}
	.le-heros-right img
	{
		width: 67%;
	}
	

/*-------malo-c-est-quoi------*/
	
	.malo-c-est-quoi
	{
		text-align: center;
		justify-content: center;
		margin: 10% 5% 5% 5%;

	}
	.contenu-malo-c-est-quoi
	{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 5%;
	}
	.img-left-malo
	{
		width: 40%;
	}
	.contenu-right
	{
		text-align: left;
		width: 60%;
	}
	.contenu-right-text
	{
		padding: 20px 20px 15px 20px;
		box-shadow: 0px 0px 30px rgb(26, 90, 157,0.1);
		margin: 20px 0;
		border-radius: 15px;
		width: 80%;
	}
	.contenu-right-text-demi
	{
		width: 50%;
	}
	.contenu-right-text-4
	{
		margin-bottom: 40px;
	}

	/*-------malo-VIDEO------*/

	.malo-video
	{
		background-image: url(../img/bg-malo-video.png);
		background-size:100%;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10%;
		padding-bottom: 10%;
	}
	.titre-video-1
	{
		width: 35%;
	}
	.video-1
	{
		width: 65%;
		background-image: url(../img/bg-video-1.png);
		background-size: contain;
		background-repeat: no-repeat;
		padding: 30px 0;
	}

	.video-1 video
	{
		width: 700px;
		border-radius: 20px;
	}
	
/*-------malo-VIDEO------*/

.expert
{
	margin-top: 15%;
	text-align: center;
	justify-content: center;
}
.expert-flex
{
	display: flex;
	align-items: center;
	margin-top: 70px;
}
#expert-video
{
	width: 60%;
	background-image: url(../img/bg-video-2.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 30px;
	text-align: left;
}
#expert-video video
	{
		width: 510px;
		border-radius: 20px;
	}
#expert-contenu
{
	text-align: right;
	width: 40%;
	
}

.expert-contenu
{
	display: flex;
	margin-top: 15px;
}
#expert-contenu h6
{
	margin-top: 20px;
}

/*-------les parent------*/

/*-------BLOG-MALO------*/
